[Unit]
Description=Tor-Router Web Gui (HTTP Server)
After=network.target nss-lookup.target
ReloadPropagatedFrom=%N.service

[Service]
EnvironmentFile=-/etc/default/%N
Type=forking
PIDFile=/var/run/%N/%N.pid
PermissionsStartOnly=yes
User=nobody
Group=nogroup
WorkingDirectory=/usr/share/%N/document-root
ExecStartPre=/usr/bin/install -Z -m 02755 -o nobody -g nogroup -d /var/run/%N
ExecStart=/usr/share/%N/%N
Restart=on-failure
RestartSec=5s
StartLimitBurst=1
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
